/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */
body{
  font: 14px/1.5 poppins, sans-serif;
  background-color: #ddd;
  background-image: url(../img/bg.png);
}

.container{
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
}
header{
  padding: 20px;
}

header h1.title{
  font-size: 3em;
  font-weight: bold;
}

nav li{
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
}

nav li a{
  display: inline-block;
  text-decoration: none;
  color: #1F509A;
  border-radius: 5px;
  padding: 5px;
}

nav li a:hover{
  background-color: #1F509A;
  color: #fff;
}

.hero{
  margin-top: -10px;
  height: 25em;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  border-top :#1F509A 5px solid;
  border-bottom: #E38E49 5px solid;
  background-repeat: no-repeat;
}

main{
  padding: 20px;
}

main article h2{
  font-size: 2em;
  font-weight: bold;;
}

main article .author{
  font-size: 1em;
  font-style: italic;
}

main article .author a{
  color: #E38E49;
}

main article .article-heading{
  margin-bottom: 20px;
}

main article .article-content p{
  font-size: 1.3em;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.7;
}

footer{
  font-size: 1em;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 900px){

  .container{
    width: 100%;
  }
}